
.pricing {
  padding-top: 50px;
  padding-bottom: 100px;
  .container {
  }
  &-list {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;

    @media screen and (max-width: 600px){
      flex-direction: column;
    }

    &_item {
      width: 560px;
      @media screen and (max-width: 600px){
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
