@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.App {
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
}
.container {
  padding: 0 400px;

  @media screen and (max-width: 1440px){
    padding: 0 172px;
  }
  @media screen and (max-width: 600px){
    padding: 0 16px;
  }
}
.title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  @media screen and (max-width: 600px){
    font-size: 32px;
  }
}
.subtitle {
  width: 400px;
  text-align: center;
  font-size: 22px;
  margin: 0 auto;

  @media screen and (max-width: 600px){
    width: 100%;
    font-size: 18px;
  }
}

